@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  min-height: calc(100% - 80px);
}
